transformers==4.51.0
accelerate==1.10.0
bitsandbytes==0.47.0
peft==0.17.1
timm==0.9.11

qwen-vl-utils==0.0.14
sentencepiece==0.2.1
openai==2.6.1

numpy==2.0.2
pandas==2.3.0
scipy==1.13.1
scikit-learn==1.5.2
pillow==11.2.1
datasets==4.0.0
evaluate==0.4.5

tqdm==4.67.1
PyYAML==6.0.2
requests==2.32.3
einops==0.8.1
pycocotools==2.0.10